body {
  --white: #F5F5F5;
  --pink: #EF959D;
  --purple: #5D2E8C;
  --turquoise: #62BEC1;
  --black: #222222;
  background-color: var(--black) !important;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

/* Landing Page */
.select {
  text-align: center;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 30px;
  border-radius: 40px;
  color: var(--white);
}

.select:hover {
  color: inherit;
  text-decoration: none;
}

.work-btn {
  background-color: var(--turquoise);
}

.sleep-btn {
  background-color: var(--purple);
}

.birth-btn {
  background-color: var(--pink);
}
