body {
  --white: #F5F5F5;
  --pink: #EF959D;
  --purple: #5D2E8C;
  --turquoise: #62BEC1;
  --black: #222222;
  background-color: var(--black) !important;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

/* Landing Page */
.select {
  text-align: center;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 30px;
  border-radius: 40px;
  color: var(--white);
}

.select:hover {
  color: inherit;
  text-decoration: none;
}

.work-btn {
  background-color: var(--turquoise);
}

.sleep-btn {
  background-color: var(--purple);
}

.birth-btn {
  background-color: var(--pink);
}

/* Work Page */
circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.title {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.line {
  display:block;
  margin: 0 auto;
  border-bottom: 2px solid var(--white);
  width: 0vw;
  text-align:center;
  animation: line 1s linear forwards;
}

@keyframes line {
  from {
    width:0vw;
  }
  to {
    width:65vw;
  }
}

.timer{
  font-size: 3vw;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  background-color:var(--purple);
  border-radius:50%;
}

.timer-wrapper{
  width:88%;
  height:88%;
  margin:6%;
  display:table;
  
}

.timer-wrapper > .align-middle{
  display:table-cell;
  vertical-align: middle;
}

.stop-btn{
  background-color:var(--red);
}

.timer-btn{
  font-size:1.5vw;
}

.reset-btn{
  background-color:var(--black);
}

.resume-btn{
  background-color:var(--blue);
}

.countdown-display{
  font-size:4vw;
  color:var(--white);
  font-weight: bold;
}

.adjustbtn{
  margin-right:1%;
  margin-left:1%;
  padding:0px;
  background-color:transparent;
  border:0px;
}